@import 'responsive';

.product {
    width: 35rem;
    height: 45rem;
    background-color: var(--off-white-color);
    border-radius: 2rem;
    box-shadow: 0 1.5rem 2rem -0.6rem rgba(0,0,0,0.5);
    display: grid;
    place-items: center;
    &_vrt {
        all:unset;
        margin-bottom: 3rem;
        width: 100%;
        position: relative;
    }
    @include respond(land-phone) {
        margin-bottom: 2rem;
    }
    &__wrapper {
        width:95%;
        height:95%;
        background-color:#0468210d;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border:1px dashed var(--high-dark-green-color);
        &_vrt {
            all:unset;
            display: flex;
            align-items: flex-start;
        }
    }
    &__figure {
        width:75%;
        height: 65%;
        margin-top: 1.5rem;
        overflow:hidden;
        border-radius: 1rem;
        &_wrapper {
            height: 100%;
        }
        img {
            width:100%;
            height: 100%;
        }
        &_vrt {
            width: 25rem;
            height: 20rem;
            background-color: var(--white-color);
            box-shadow: 0 1.2rem 1.8rem -0.6rem rgba(0,0,0,0.3);
            display: grid;
            place-items: center;
            margin-top: 0;
            margin-right: 2rem;
            &_wrapper {
                width: 95%;
                height: 95%;
                background-color: #04872a1c;
                display: grid;
                place-items: center;
                border: 1px dashed;
                overflow: hidden;
                img {
                    width: 95%;
                    height: 95%;
                }
            }
        }
    }
    &__details {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_vrt {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title {
        margin: 1rem 0;
        font-family: var(--secondary-font);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 300;
        color: var(--high-dark-green-color);
    }
    &__price {
        margin-bottom: 1.5rem;
        font-family: var(--secondary-font);
        font-size: 1.6rem;
        font-weight: 300;
        color:var(--green-color);
        &_discount {
            color:var(--gray-color);
            text-decoration: line-through;
            margin-right: 2rem;
        }
    }
    &__rating {
        font-size: 1.2rem;

    }
    &__cta {
        all: unset;
        margin: 2rem 0;
        padding: 1rem 2rem;
        background-color: var(--green-color);
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        cursor: pointer;
        color:var(--high-dark-green-color);
        i {
            margin-left:1rem
        }
        &_vrt {
            position: absolute;
            right: 0;
            width: 15%;
            padding: 1.5rem;
        }
    }
}