:root {
    // COLORS VARIABLES
    --white-color:#fff;
    --off-white-color:#f2f2f2;
    --green-color:#8CBE2F;
    --dark-green-color:#253927;
    --high-dark-green-color:#00240A;
    --gray-color:#696965;

    // FONTS VARIABLES
    --main-font:'Noto Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}
