@import 'responsive';

.products {
    padding:10rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include respond(land-phone) {
            flex-direction: column;
        }
    } 
}