.footer {
    background-color: var(--off-white-color);
    &__wrapper {
        padding: 2rem 0;
        background-image: url(../../images/hero_bg.png);
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 33rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    &__desc {
        @extend .font_set;
        width: 50%;
        text-align: center;
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        &_link {
            text-decoration: none;
            color: var(--green-color);
        }
        
    }
    &__legal {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_link {
        @extend .font_set;
        text-decoration: none;
        color:var(--gray-color);
        &:hover {
            text-decoration: underline;
        }
        }
    }
    &__copyright {
        text-transform: uppercase;
        font-size: 1.4rem;
       @extend .font_set
    }
}

.font_set {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 1px;
}