@import 'responsive';
.drop {
    &__wrapper {
        position: absolute;
        top: 5.89rem;
        left: -3.5rem;
        transition: height 0.5s ease;
        height: 0;
        overflow: hidden;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.5);
        @include respond(land-tablet) {
            left:-9rem;
        }
        @include respond(tablet){
            left:-12rem
        }
        @include respond(land-phone) {
            left: -5rem;
        }
        @include respond(phone) {
            left: -9.5rem;
        }
    }
    &__list {
        background-color: var(--white-color);
        max-width: 33rem;
        overflow:hidden ;
    }
    &__res {
        color:green;
    }
}